.container {
  max-width: 960px;
}

body{
  background-color: #000;
}

.boxcolor {
  background-color: #ec3737;
}
/*
 * Custom translucent site header
 */

.site-header {
  
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #C4C4C4;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #FFB900;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #C4C4C4;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #000000; }
.border-bottom { border-bottom: 1px solid #030303; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);


}


.carousel-control-prev,
.carousel-control-next {
  border: none;

}



ul {
  list-style: none;
  padding: 0;
  margin: 0;
}



.overflow-dev{
   overflow-y: scroll; height: 650px;
}

.container {
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
}

h2 {
  margin-bottom: 20px;
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 20px;
}

li {
  margin-bottom: 10px;
}
